index


<h1>Restaurant Search</h1>

<div class="container">
  <%= bootstrap_form_tag url: '/' do |f| %>
  <%= f.text_field :q, label: "Search by city" %>
  <div class="text-center">
  <%= f.primary "Search" %>
  </div>
<% end %>
</div>
