index


<h1 id="search-bar">Restaurant Search</h1>

<div class="container main">
  <%= bootstrap_form_tag url: show_path do |f| %>
  <%= f.text_field :query, label: "Search by city" %>
  <div class="text-center">
  <%= f.primary "Search" %>
  </div>
<% end %>
</div>
