.form{

  font-size: 30px;
  font-family: monospace;
  text-align: center;

}

h1{
  font-size: 100px;
  font-family: monospace;
  text-align: center;
}

h2{
  font-family: monospace;
  text-align: center;
  font-size: 60px;
}


.signup-form{

  padding-top: 150px;

}